table.dataTable.no-footer {
    border-bottom-color: #e7ecf1;
}

table.table-bordered.dataTable {
    border-collapse: separate !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #111;
}

.table-scrollable>.table {
    width: 100%!important;
    margin: 0!important;
    background-color: #fff;
}

.DTS .table-scrollable, .table-scrollable.table-scrollable-borderless, .table-scrollable>.table-bordered {
    border: 0;
}

table.dataTable {
    clear: both;
    max-width: none !important;
}


table.dataTable, table.dataTable th, table.dataTable td {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

table.dataTable {
    border-spacing: 0;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
